<main class="min-h-screen flex flex-col items-center justify-center">
    <div class="py-4 px-4 md:px-8">
        <div class="grid items-center gap-6 max-w-6xl w-full lg:grid-cols-2">
            <div class="border border-slate-300 rounded-lg p-6 max-w-md mx-auto shadow-sm md:p-8 lg:mx-0">

                <div class="mb-8">
                    <h1 class="text-slate-900 text-3xl font-bold mb-4">Entrar</h1>
                    <p class="text-slate-600 text-base leading-relaxed">Entre para visualizar seu painel</p>
                </div>

                <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="space-y-6">
                    <div>
                        <label for="email" class="mb-2 text-slate-900 font-medium text-sm inline-block">
                            E-mail
                        </label>

                        <input type="email" id="email" formControlName="email" placeholder="exemplo@gmail.com"
                            class="px-3 py-2.5 text-sm text-slate-900 rounded-md bg-white w-full outline-1 -outline-offset-1 outline-slate-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600" />

                        @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
                        <p class="mt-1 text-sm text-red-600">
                            @if (userForm.get('email')?.hasError('required')) {
                            E-mail é obrigatório.
                            }

                            @if (userForm.get('email')?.hasError('email')) {
                            Informe um e-mail válido.
                            }
                        </p>
                        }
                    </div>

                    <div>
                        <label for="password" class="mb-2 text-slate-900 font-medium text-sm inline-block">
                            Senha
                        </label>

                        <input type="password" id="password" formControlName="password" placeholder="••••••••"
                            class="px-3 py-2.5 text-sm text-slate-900 rounded-md bg-white w-full outline-1 -outline-offset-1 outline-slate-300 focus:outline-2 focus:-outline-offset-2 focus:outline-blue-600" />

                        @if (userForm.get('password')?.touched && userForm.get('password')?.invalid) {
                        <p class="mt-1 text-sm text-red-600">
                            @if (userForm.get('password')?.hasError('required')) {
                            Senha é obrigatória.
                            }

                            @if (userForm.get('password')?.hasError('minlength')) {
                            A senha deve ter pelo menos 6 caracteres.
                            }
                        </p>
                        }
                    </div>

                    <div class="flex items-start flex-wrap gap-2">
                        <label class="flex items-center group has-[input:checked]:text-slate-900">
                            <input id="remember" type="checkbox" formControlName="remember" class="sr-only" />

                            <span
                                class="flex h-4 w-4 shrink-0 items-center justify-center rounded outline-1 outline-slate-300 bg-white group-has-[input:checked]:bg-blue-600 group-has-[input:checked]:outline-blue-600">
                                <svg class="size-3 text-white opacity-0 group-has-[input:checked]:opacity-100"
                                    viewBox="0 0 12 10" fill="none" stroke="currentColor" stroke-width="2">
                                    <path d="M1 5l3 3 7-7" />
                                </svg>
                            </span>

                            <span class="ml-3 text-sm text-slate-700">
                                Manter Conectado?
                            </span>
                        </label>

                        <!-- <a href="#" class="ml-auto text-sm font-medium text-blue-700 hover:underline">
                            Esqueceu a senha?
                        </a> -->
                    </div>

                    <button type="submit" [disabled]="isLoading"
                        class="w-full py-2 px-3.5 text-sm rounded-md font-semibold cursor-pointer tracking-wide text-white border border-blue-600 bg-blue-600 hover:bg-blue-700 disabled:opacity-50">
                        {{ isLoading ? 'Entrando...' : 'Entrar' }}
                    </button>

                    <div class="text-slate-900 text-sm text-center">
                        Não tem conta?

                        <a routerLink="/register" class="text-blue-700 hover:underline ml-1 font-medium">
                            Criar
                        </a>
                    </div>
                </form>

            </div>

            <div class="aspect-[71/50] max-lg:w-4/5 mx-auto">
                <img src="https://readymadeui.com/images/integration-illus.webp" class="w-full object-cover"
                    alt="login img" />
            </div>
        </div>
    </div>
</main>